* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
}

.container {
  display: block;
  position: absolute;
  padding: 5px;
  height: auto;
}

.content {
  position: relative;
  border: 1px solid black;
  background-color:grey;
}

.padder {
  padding: 2px;
}


p.contenttext {
  margin-top: 20px;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
}

p.titletext {
  color: white;
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase bold;
}

.title {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 120px;
  height: 20px;
  background-color: red;
}

@media (min-width: 992px) {
  .lg4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .md6, .md12 {
    float: left;
  }

  .md6 {
    width: 50%;
  }

  .md12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sm12 {
    float: left;
    width: 100%;
  }
}
